.app{
    background: #091f43;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.app-card{
    background: white;
    max-width: 400px;
    min-width: 375px;
    border-radius: 8px;
}
header{
    font-size: 20px;
    color:#091f43;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
input{
    width: 100%;
    text-align: center;
    padding: 16px;
    height: 55px;
    outline: none;
    font-size: 24px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
input::placeholder{
    color: #bfbfbf;
}
button{
    padding: 16px;
    font-size: 14px;
    width:100%;
    height: 55px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    background-color: #ed2144;
}
.success-msg{
    color : #155724;
    background:#d4edda;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
}
.error-msg{
    color : #721c24;
    background: #f8d7f8;;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
}
.text-center{
    text-align: center;
}
.temperature{
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}
.description,.location{
    font-size: 24px;
    line-height: 32px;
}
footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #ccc;
}
.feelslike{
    width: 100%;
    padding: 16px;
}
.humidity{
    border-left: 1px solid #ccc;
    width: 100%;
    padding: 16px;
}
.weatherimg{
    max-width: 125px;
}
.cursor{
    cursor: pointer;
}